// 宽度控制
.width_100{
  width: 100px;
}
.width_120{
  width: 120px;
}
.width_180{
  width: 180px;
}
.width_200{
  width: 200px;
}
.width_220{
  width: 220px;
}
.width_240{
  width: 240px;
}
.width_260{
  width: 260px;
}
.width_280{
  width: 280px;
}
.width_300{
  width: 300px;
}
.width_400{
  width: 400px;
}

// margin left
.margin_l_100{
  margin-left: 100px;
}
.margin_l_80{
  margin-left: 80px;
}
.margin_l_60{
  margin-left: 60px;
}
.margin_l_40{
  margin-left: 40px;
}
.margin_l_30{
  margin-left: 30px;
}

// margin right
.margin_r_100{
  margin-right: 100px;
}
.margin_r_80{
  margin-right: 80px;
}
.margin_r_60{
  margin-right: 60px;
}
.margin_r_40{
  margin-right: 40px;
}
.margin_r_30{
  margin-right: 30px;
}
.margin_r_10{
  margin-right: 10px;
}
